
@media (prefers-color-scheme: dark) {
    :root {
        scrollbar-color: #48484a 1c1c1e;
	scrollbar-width: thin;
    }
}

/* Light scrollbar */
@media (prefers-color-scheme: light) {
    :root {
        scrollbar-color: #c7c7cc #fff;
	scrollbar-width: thin;
    }
}

@-moz-document url("about:home"), url("about:newtab"){
  .tile > .icon-wrapper{
    width: 100% !important;
    height: 100% !important;
  }
  .icon-pin-small{ display: none !important; }
}
