/*==============================================================================================*
  Description:    Safari 15 one-liner theme based on SimpleFox and Cascade.
                  > SimpleFox: https://github.com/migueravila/SimpleFox
                  > Cascade: https://github.com/andreasgrafen/cascade
*==============================================================================================*/

/* Dark and Light theme colors */
@media (prefers-color-scheme: dark) {
  :root {
      --darker-colour: #1c1c1e;
      --primary-colour: #2e2e35;
      --secondary-colour: #48484a;
      --hovered-colour: #636366;
      --darker-hovered-colour: #d1d1d6;
      --fill-colour: #c8c8c8;
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --darker-colour: #fff;
      --primary-colour: #f0f0f0;
      --secondary-colour: #d1d1d6;
      --hovered-colour: #c7c7cc;
      --darker-hovered-colour: #2c2c2e;
      --fill-colour: #404040;
  }
}

:root {
  /* global border radius */
  --uc-border-radius: 6px;
  /* dynamic url bar width settings */
  --uc-urlbar-width: clamp(200px, 40vw, 527px);
}

/*----------------------------------------------------
WINDOW
----------------------------------------------------*/

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
  -moz-appearance: none !important;
  border: none !important;
  box-shadow: none !important;
  background: var(--darker-colour) !important;
}

/* Remove window control buttons */
.titlebar-buttonbox-container { 
display: none !important;
}

/*----------------------------------------------------
TABS
----------------------------------------------------*/

/* One-line tabs */
@media (min-width: 1320px) { 
  /* move tabs bar over */
  #TabsToolbar { margin-left: var(--uc-urlbar-width) !important; }
  /* move entire nav bar  */
  #nav-bar {
    margin: calc((var(--urlbar-min-height) * -1) - 8px) calc(100vw - var(--uc-urlbar-width) - 2px) 0 0 !important;
}
}

/* Tab bar color */
#titlebar, .toolbar-items {
background-color: var(--darker-colour) !important;
}

/* Remove "padding" left and right from tabs */
.titlebar-spacer {
display: none !important;
}

/* Remove margin and padding when a tab is moved */
#tabbrowser-tabs[movingtab] {
margin-bottom: 0px !important;
padding-bottom: 0px !important;
}

.tabbrowser-tab {
min-height: 25px !important;
max-height: 25px !important;
padding-top: 6px !important;
font-size: 12px !important;
font-weight: 500 !important;
margin-right: 1px !important;
overflow-clip-margin: 12px !important;
}

.tab-content {
border-radius: 6px !important;
background-color: var(--primary-colour) !important;
--tab-label-mask-size: 4px !important;
padding-right: 5px !important;
}

.tab-label {
margin-top: 0px !important;
margin-left: 4px !important;
color : var(--fill-colour) !important;
}

.tab-stack > vbox {
display: none !important;
}

/* Color selected tab */
.tabbrowser-tab .tab-content[selected="true"],
.tab-background[selected="true"],
.tab-content:not([selected]):hover,
.tab-background:not([selected]):hover {
background-color: var(--secondary-colour) !important;
}

/* Pinned tab position */   
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {   
padding-left: 4px !important;   
}

/* Pinned tab size when uidensity is not compact */
:root:not([uidensity="compact"]) .tab-content[pinned] {
min-height: 25px !important;
max-height: 25px !important;
min-width: 34px !important;
padding: 0 9px !important;
}

/* Align favicon */   
.tab-icon-stack:not([pinned])> .tab-icon-image {      
margin-left: -3px !important;   
margin-right: 0px !important;
height: 15px !important;
}

/* Keep close button on the left and center the tab name */   
.tab-content:not([pinned]) .tab-label-container {   
-moz-box-ordinal-group: 2;
} 

/* Remove the close tab icon on pinned tabs */
.tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button,
.tabbrowser-tab[pinned=true] > .tab-stack > .tab-content > .close-icon.tab-close-button {
display: none !important;
}

/* Close button size and alignment */
.tab-close-button {
height: 15px !important;
width: 15px !important;
margin-top: 0px !important;
margin-left: -2px !important;
padding: 2px !important;
border-radius: 4px !important;
background-color: var(--fill-colour) !important;
color: var(--darker-colour) !important;
}

/* Close button color when hovered */
.tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button:hover {
background: var(--darker-hovered-colour) !important;
}

/* Force close button to be displayed when hovering a non selected tab */
.tabbrowser-tab:hover > .tab-stack > .tab-content > .tab-close-button {
margin-right: 0 !important;
display: -moz-box !important;
}

/* Make tab close button replace the tab icon on hover */   
.tabbrowser-tab:not([pinned]):hover .tab-icon-image {   
display: none !important;   
}

/* Remove "Playing now" sentence in the tab  */
.tab-secondary-label {
display: none !important;
}

/* Speaker icon size */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
z-index: 1 !important;
padding: 1px !important;
inset-inline-end: 0px !important;
width: 15px !important;
height: 15px !important;
border-radius: 3px !important;
}

/* Speaker icon always visible  */
.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
stroke: transparent !important;
background: transparent !important;
opacity: 1 !important;
fill-opacity: 1 !important;
background-color: var(--fill-colour) !important;
fill: var(--darker-colour) !important;
}

/* Make speaker icon replace the favicon */   
.tabbrowser-tab[soundplaying] .tab-icon-image {   
display: none !important;
}

/* Speaker icon position and margin */
.tabbrowser-tab:not(:hover) .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
margin-inline-end: 0px !important;
margin-inline-start: -3px !important;
}

/* Close button position when tab is hovered and speaker icon is visible */
.tabbrowser-tab:is(:hover) .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
margin-inline-end: 7px !important;
margin-inline-start: -3px !important;
}

/* Speaker icon position when there is no favicon */
.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
top: 0 !important;
padding: 0 !important;
margin-inline-end: 5px !important; 
inset-inline-end: 0 !important;
}

/* Speaker icon when hovered */
.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
background: var(--darker-hovered-colour) !important;
}

/* Remove tab focus indicator */    
.tab-line {   
display: none !important;   
}

/* New tab button [+] on tab overflow borders */
#new-tab-button,
#tabs-newtab-button  {
border-radius: 6px !important;
padding: 0 !important;
padding-left: 5px !important;
margin-top: 6px !important;
margin-right: 6px !important;
max-height: 25px !important;
max-width: 25px !important;
margin-bottom: -6px !important;
}

/* New tab button [+] on hovers */
#new-tab-button:hover,
#new-tab-button:hover > image,
#tabs-newtab-button:hover,
#tabs-newtab-button:hover > image {
background-color: var(--secondary-colour) !important;
}

/* New tab button [+] image position and color */
#new-tab-button > image,
#tabs-newtab-button > image {
padding: 0 !important;
margin-right: 4px !important;
margin-left: 0px !important;
margin-bottom: 2px !important;
max-height: 16px !important;
max-width: 16px !important;
fill: var(--fill-colour) !important;
}

/* Remove tab throbber (loading indicator) */
.tab-throbber {
display: none;
}

arrowscrollbox[scrolledtoend="true"] > toolbarbutton {
margin-left: 50px !important;
  display: none !important;
}

/*----------------------------------------------------
URL BAR
----------------------------------------------------*/

/* URL bar background color and radius */
#urlbar-background, #searchbar {
background-color: var(--primary-colour) !important;
border-radius: 6px !important;
margin-right: -5px !important;
}

/* URL bar size and alignment */
#urlbar,
.searchbar-textbox,
#urlbar:hover,
#urlbar:is([open=true]),
#urlbar:is([focused=true]),
#urlbar:is([breakout-extend=true]),
.searchbar-textbox:hover {
font-size: 12px !important;
outline: none !important;
box-shadow: none !important;
border: none !important;
margin-top: 2px !important;
min-height: 25px !important;
max-height: 25px !important;
border-radius: 6px !important;
margin-left: -3px !important;
}

/* Remove outlining from all URL bar elements */
#urlbar,
#urlbar * {
outline: none !important;
}

/* Re-align URL bar when the popup menu appears + remove border & outline */
#urlbar[breakout][breakout-extend] {
margin-top: 10px !important;
outline: none !important;
border: none !important;
}

/* Remove URL bar border and box-shadow when opened/focused */
#urlbar[open] > #urlbar-background,
#urlbar[focused="true"] > #urlbar-background{
border: none !important;
box-shadow: none !important;
background-color: var(--secondary-colour) !important;
border-radius: 6px !important;
}

/* Remove zoom-in animation when URL bar is selected/opened */
#urlbar[open]  {
left: 0px !important;
width: 100% !important;
}

/* Re-align URL bar container text when selected/opened */
#urlbar[open] > #urlbar-input-container {
margin-top: -8px !important;
margin-inline: -5px !important;
}

#TabsToolbar-customization-target {
padding-left: 0 !important;
padding-right: 0 !important;
}

/* URL bar inner left and right text padding (usefull for long URL) */
#urlbar-input, #urlbar-scheme, .searchbar-textbox {
padding-left: 2px !important;
padding-right: 7px !important;
margin-top: 0px !important;
}

/* Hide some URL bar buttons */
#star-button-box,
#pageActionButton,
#page-action-buttons,
#blocked-permissions-container,
#identity-icon-labels,
#identity-permission-box,
#extension-icon,
#reader-mode-button,
#urlbar-history-dropmarker,
#tracking-protection-icon-container,
#eme-notification-icon,
#urlbar-go-button,
#PanelUI-button,
#urlbar-zoom-button,
#notification-popup-box {
display: none !important;
background: transparent !important;
}

#identity-box[pageproxystate="valid"] {
fill: var(--fill-colour) !important;
margin-right: 0px !important;
margin-top: 0px !important;
}

#identity-box[pageproxystate="valid"] > box {
border-radius: 6px !important;
padding-right: 5px !important;
padding-left: 3px !important;
}

#identity-box[pageproxystate="valid"] > box > image {
border-radius: 6px !important;
max-height: 13px !important;
}

#identity-box[pageproxystate="valid"]:hover > box {
background-color: var(--secondary-colour) !important;
}

/*----------------------------------------------------
NAV BAR
----------------------------------------------------*/

/* Nav bar color and height */
#nav-bar {
min-height: 40px !important;
background-color: var(--darker-colour) !important;
}

/* Darker back, forward and reload button when disabled */
#back-button[disabled="true"], #forward-button[disabled="true"], #reload-button[disabled="true"] {
fill: var(--hovered-colour) !important;
}

/* Back and Forward buttons positioning */
#back-button, #forward-button, #reload-button, #stop-button {
/* not affecting button size */
--toolbarbutton-outer-padding: 3px !important;
/* affecting button size */
--toolbarbutton-inner-padding: 5px !important;
fill: var(--fill-colour) !important;
margin-top: 10px !important;
}

/* Navbar button color on hover */
#back-button:hover > .toolbarbutton-icon,
#forward-button:hover > .toolbarbutton-icon,
#reload-button:hover > .toolbarbutton-icon,
#stop-button:hover > .toolbarbutton-icon {
background-color: var(--secondary-colour) !important;
}

/* Back and Forward button icon size */
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
border-radius: 6px !important;
max-height: 25px !important;
max-width: 25px !important;
padding: 4px !important;
margin-left: -1px !important;
}

/* Reload and Stop button icon size */
#reload-button > .toolbarbutton-icon,
#stop-button > .toolbarbutton-icon {
border-radius: 6px !important;
max-height: 25px !important;
max-width: 25px !important;
padding: 5px !important;
margin-left: -1px !important;
}

/* Replace back button icon by < */
#back-button {
list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
margin-left: -1px !important;
}

/* Replace forward button icon by > */
#forward-button {
list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
}

/* Hide all tabs button on overflow */
#alltabs-button {
display: none !important;
}

/* Scroll tab section size */
#scrollbutton-up,
#scrollbutton-down {
height: 25px !important;
width: 25px !important;
margin-top: 6px !important;
margin-bottom: 5px !important;
margin-right: 5px !important;
margin-left: 5px !important;
border: none !important;
border-radius: 6px !important;
padding: 0 !important;
}

/* Scroll tab buttons color on hover */
#scrollbutton-up:hover,
#scrollbutton-down:hover {
background-color: var(--secondary-colour) !important;
}

/* Scroll tab icon size */
#scrollbutton-up > image,
#scrollbutton-down > image {
height: 25px !important;
width: 25px !important;
padding: 4px !important;
fill: var(--fill-colour) !important;
border-radius: 6px !important;
}

/* Extension + Download icon */
#nav-bar-overflow-button > .toolbarbutton-icon,
#downloads-button > .toolbarbutton-badge-stack {
margin-top: 9px !important;
margin-right: 1px !important;
border-radius: 6px !important;
height: 25px !important;
width: 25x !important;
padding: 4px !important;
fill: var(--fill-colour) !important;
}

/* Download icon button size */
#downloads-button > .toolbarbutton-badge-stack > box,
#downloads-button > .toolbarbutton-badge-stack > box image,
#identity-icon {
height: 13px !important;
width: 13px !important;
fill: var(--fill-colour) !important;
}

/* Download icon button size */
#downloads-button > .toolbarbutton-badge-stack > box image
/* #downloads-button > stack > box, */
{
height: 13px !important;
width: 13px !important;
margin-right: 1px !important;
margin-left: 2px !important;
margin-top: 2px !important;
fill: var(--fill-colour) !important;
}

/* Navbar extension button size */
#nav-bar-overflow-button > .toolbarbutton-icon {
padding: 6px !important;
}

/* Navbar extension button size */
#nav-bar-overflow-button > image {
width: 25px !important;
}

/* Extension + Download icon on hover */
#nav-bar-overflow-button:hover > .toolbarbutton-icon,
#downloads-button:hover > .toolbarbutton-badge-stack {
background-color: var(--secondary-colour) !important;
}

/* Replace extension icon */
#nav-bar-overflow-button {
list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.svg") !important;
}

/* Fix extension popup panel width due to it being set to overflow */
#widget-overflow, menupopup::part(content) {
width: 652px !important;
}

#widget-overflow > panelmultiview > box > box > .PanelUI-subView {
width: 652px !important;
min-width: 200px !important;
max-width: 652px !important;
}

/* Private window indicator color */
.private-browsing-indicator {
filter: grayscale(100%) opacity(80%) !important;
}

/*----------------------------------------------------*/
/* POP UP URL */
/*----------------------------------------------------*/

/* Animation when the popup appears */
#urlbar[open] > .urlbarView, #urlbar[breakout] > .urlbarView {
transform: scale(1) !important;
transition: .15s !important;
opacity: 1 !important;
}

/* Behavior when the popup is not displayed */
#urlbar:not([open]) > .urlbarView, #urlbar:not([breakout]) > .urlbarView {
display: block !important;
transform: scale(0.97) !important;
opacity: 0 !important;
transition: 0s !important;
}

/* Background color of the popup menu */
.urlbarView {
margin-top: -2px !important;
background-color: var(--primary-colour) !important;
/*backdrop-filter: saturate(180%) blur(20px) !important;*/
border-radius: 9px !important;
border: 1px solid rgba(255,255,255,0.2) !important;
box-shadow: 0px 4px 22px rgba(0,0,0,22%),  0px 0px 1px rgba(0,0,0,0.6)  !important;
width: calc(100% - 2 * (var(--urlbar-container-padding) - 3px) + 1px ) !important;
margin-left: 1px !important;
font-size: 13px !important;
font-weight: 400 !important;
color: var(--fill-colour) !important;
}

/* Remove popup url top border */
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
border-top: none !important;;
}

.urlbarView-title, .urlbarView-url {
text-overflow: ellipsis !important;
}

.urlbarView-row-inner {
padding-top: 2px !important;
padding-bottom: 2px !important;
}

/* Rows height */
.urlbarView-row {
padding-top: 2px !important;
padding-bottom: 2px !important;
min-height: auto !important;
}

@media (min-height: 600px) {
.urlbarView-results[wrap] > .urlbarView-row > .urlbarView-row-inner > .urlbarView-no-wrap {
max-width: 60% !important;
flex-basis: 60% !important;
}
.urlbarView-results[wrap] > .urlbarView-row > .urlbarView-row-inner {
flex-wrap: nowrap !important;
}
}

/* Remove end of line gradient mask */
.urlbarView-row:not([type="tip"], [type="dynamic"]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-title[overflow], .urlbarView-row[type="bestmatch"] > .urlbarView-row-inner > .urlbarView-row-body > .urlbarView-row-body-top > .urlbarView-row-body-top-no-wrap > .urlbarView-title[overflow], .urlbarView-tags[overflow], .urlbarView-url[overflow] {
mask-image: none !important;
}

/* Popup menu url text -> URLs */
.urlbarView-url {
font-weight: 300 !important;
font-size: 11px !important;
color: var(--fill-colour) !important;
margin-top: 1px !important;
}

/* Lines margins */
.urlbarView-row:not([type="tip"],
[type="dynamic"],
[has-help]) > .urlbarView-row-inner,
.urlbarView-row[has-help] > .urlbarView-row-inner:not([selected]) {
margin-left: 5px !important;
margin-right: 5px !important;
margin-bottom: -4px !important;
border-radius: 6px !important;
}

/* Color hovered line */
.urlbarView-row:hover > .urlbarView-row-inner {
background: var(--secondary-colour) !important;
}

/* Color selected line */
.urlbarView-row[selected] > .urlbarView-row-inner {
background: var(--darker-colour) !important;
}

/* Popup menu first & last elements margins */
#urlbar-results.urlbarView-results {
margin-top: -1px !important;
margin-bottom: 3px !important;
}

/* Remove the "search with" bar */
.search-one-offs,
.urlbarView-type-icon {
display: none !important;
}

/* Remove the "suggested by Firefox" line */
.urlbarView-row::before {
display: none !important;
}

/* Remove the "suggested by Firefox" space */
.urlbarView-row {
margin-top: 0px !important;
}

/*----------------------------------------------------*/
/* Personal toolbar */
/*----------------------------------------------------*/

#PlacesToolbar {
background-color: var(--darker-colour) !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton):hover {
max-width: 13em;
appearance: none;
background-color: var(--secondary-colour) !important;
}
