/*###########################################################################
#                               UI modifications                            #
###########################################################################*/

:root {
  /* Appmenu: Reduce item padding */
  --arrowpanel-menuitem-padding-block: 4px 8px !important;
  /* Tab bar: reduce tab margin */
  --tab-block-margin: 4px 3px !important;
  /* Tab bar height */
  --tab-min-height: 24px !important;
  /* #urlbar and #searchbar height */
  --urlbar-min-height: 24px !important;
  /* toolbar button hover color */
  --toolbarbutton-hover-background: #353535 !important;
}

/*###########################################################################
#                            URL Bar / Nav bar                              #
###########################################################################*/

/* Place the navbar atop the tab bar + cosmetics */
#nav-bar {
  -moz-box-ordinal-group: 0 !important;
  padding-left: 75px !important;
  padding-top: 1px !important;
  background-color: #222 !important;
  border: none !important;
  max-height: 31px !important;
}

/* Draggable urlbar */
toolbox, #urlbar-container {
  -moz-window-dragging: drag !important;
}

/* Vertically aligned traffic lights */
.titlebar-buttonbox-container {
  margin-top: -55px;
}

/* Back and Forward buttons positioning */
#back-button, #forward-button, #reload-button {
  /* not affecting button size */
	--toolbarbutton-outer-padding: 4px !important;
	/* affecting button size */
	--toolbarbutton-inner-padding: 4px !important;
  margin-top: -4px !important
}

/* Reload Button: Fix vertical alignment */
#reload-button {
	margin-block-start: -2px !important;
}

/* Darken back, forward and reload button when disabled */
#back-button[disabled="true"], #forward-button[disabled="true"], #reload-button[disabled="true"] {
  fill: rgba(255,255,255,0.25) !important;
}


/* Toolbar: Reduce spacing */
#urlbar-container {
	--urlbar-container-height: 30px !important;
  margin-top: 0 !important;
}

/* URL bar size and alignment */
#urlbar,
.searchbar-textbox,
#urlbar:hover,
#urlbar:is([open=true]),
#urlbar:is([focused=true]),
.searchbar-textbox:hover {
  text-align: center !important;
  padding: 0px !important;
  font-size: 1.1em !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  margin-top: 1px !important;
  min-height: 25px !important;
  max-height: 25px !important;
  cursor: default;
  max-width: 780px;
  margin-left : calc((100vw - 1124px) / 2) !important;
}

/* URLBar: Fix vertical alignment */
#urlbar[breakout=true]:not([open="true"]) {
	--urlbar-height: 20px !important;
	--urlbar-toolbar-height: 24px !important;
}

/* Darker URL bac color when active */
#urlbar:is([open=true], [focused=true]) {
  background-color: #101010 !important;
}

@media (max-width: 1500px) {
  #urlbar,
  .searchbar-textbox,
  #urlbar:hover,
  #urlbar[focused],
  .searchbar-textbox:hover {
    max-width: 680px;
  }
}

@media (max-width: 1250px) {
  #urlbar,
  .searchbar-textbox,
  #urlbar:hover,
  #urlbar[focused],
  .searchbar-textbox:hover {
    max-width: 100% !important;
    margin-left : 0px !important;
  }
}

/* Verticaly aligned urlbar when clicking on it */
#urlbar[breakout][breakout-extend] {
  top: 0px !important;
  left : 0px !important;
}

/* Verticaly aligned urlbar text on focus for FF75+ */
#urlbar[breakout][focused="true"] > #urlbar-input-container {
  top: -1px !important;
  transition: none;
}

/* Darker Navbar items (addons, nav icons) when unhovered */
#nav-bar > .customization-target image,
#nav-bar > #nav-bar-customization-target > toolbaritem > hbox > #urlbar-input-container {
  opacity: 0.5 !important;
  filter: saturate(0%) !important;
  transition: opacity 0.5s !important;
}

/* Lighter Navbar elements when unhovered */
#navigator-toolbox > #nav-bar > #nav-bar-customization-target > toolbaritem > hbox > #urlbar-background {
  background-color: transparent !important;
  border: none !important;
}

/* Darker Navbar elements when hovered */
#navigator-toolbox:hover > #nav-bar > #nav-bar-customization-target > toolbaritem > hbox > #urlbar-background {
  background-color: #101010 !important;
}

/* Lighter Navbar items (addons, nav icons and urlbar) on hover */
#nav-bar:hover > .customization-target image,
#nav-bar:hover > #nav-bar-customization-target > toolbaritem > hbox > #urlbar-input-container {
  opacity: 1 !important;
  filter: saturate(100%) !important;
}

/* Darker addons badges and icons */
#nav-bar > #nav-bar-overflow-button > .toolbarbutton-icon,
#nav-bar > toolbaritem > .toolbarbutton-1 > .toolbarbutton-badge-stack,
#nav-bar > .customization-target label {
  filter: brightness(50%) saturate(0%) !important;
  transition: 0.5s !important;
}

/* Lighter addons badges and icons */
#nav-bar:hover > #nav-bar-overflow-button > .toolbarbutton-icon,
#nav-bar:hover > toolbaritem > .toolbarbutton-1 > .toolbarbutton-badge-stack,
#nav-bar:hover > .customization-target label {
  filter: brightness(100%) saturate(100%) !important;
}

/* Addons badges position and padding */
#nav-bar > hbox > .toolbarbutton-1 > .toolbarbutton-badge-stack > label {
  margin-top: -4px !important;
}

/* Hide some URL bar buttons */
#star-button-box,
#pageActionButton,
#blocked-permissions-container,
#identity-icon-labels,
#extension-icon,
#reader-mode-button,
#urlbar-history-dropmarker,
#identity-box[pageproxystate="valid"], 
#tracking-protection-icon-container {
  display: none !important;
  background: transparent !important;
}

/* URL bar inner left and right text padding (usefull for long URL) */
#urlbar-input, #urlbar-scheme, .searchbar-textbox {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

/* URL bar zoom button color and border radius */
#urlbar-zoom-button {
  background-color: #353535 !important;
  border-radius: 6px !important;
}

/*###########################################################################
#                                  Tabs                                     #
###########################################################################*/

/* Tabs height + color + bottom boder for scroll tab buttons */
.tabbrowser-tab {
  min-height: 24px !important;
  max-height: 24px !important;
  --tab-label-mask-size: 10px !important;
  padding-right: 0px !important;
}

.tabbrowser-tab:not([pinned="true"]) {
  margin-left: -4px !important;
}

/* Tab bar height */
#titlebar {
  max-height: 25px !important;
}

/* Color all tabs and borders */
.tab-content {
  background-color: #101010;
  color: #c0c0c0;
  border-style: solid;
  border-width: 1px !important;
  border-top-color: #353535 !important;
  border-left-color: #353535 !important;
  border-right-color: #353535 !important;
  border-bottom: none !important;
  margin-top: -1px !important;
}

/* Color selected tab */
.tabbrowser-tab .tab-content[selected="true"], .tab-background[selected="true"] {
  background-color: #222 !important;
  color: white;
}

/* Color hovered tab */
.tab-content:not([selected]):hover, .tab-background:not([selected]):hover {
  background-color: #222;
}

#tabbrowser-tab, #tabbrowser-tabs {
  background-color: #353535 !important;
}

/* Hide titlebar spaces */
.titlebar-spacer {
  display: none;
}

/* Remove left tab panel spaces */
.titlebar-buttonbox-container {
  max-width: 0px;
  min-width: 0px;
}

/* Remove the sound playing text */
.tab-icon-sound-label {
  display: none;
}

/* Align favicon */
.tab-icon-stack:not([pinned])>image {
  margin-bottom: 8px !important;
  margin-left: -3px !important;
}

/* Align sound icon */
.tab-icon-stack > .tab-icon-overlay {
  margin-inline-end: 0px !important;
}

/* Remove the close tab icon while tab not hovered */
.tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button {
  display: none !important;
}

/* Close button size and alignment */
.tabbrowser-tab:hover > .tab-stack > .tab-content > .tab-close-button {
  margin-bottom: 7px !important;
  margin-left: -3px !important;
  margin-inline-end: 4.5px !important;
  padding: 2px !important;
  width: 17px !important;
  height: 17px !important;
  display: -moz-box !important;
}

/* Close button color when hovered */
.tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button:hover {
  background: rgba(255,255,255,0.05) !important;
}

/* Keep close button on the left and center the tab name */
.tab-content:not([pinned]) .tab-label-container {
  -moz-box-ordinal-group: 2;
  margin-bottom: 9px;
}

/* Stretch the tab bar to the whole screen width */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: unset !important;
}

/* Remove tab focus indicator */
.tab-line {
  display: none !important;
}

/* Make tab close button replace the tab icon on hover */
.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}

/* Remove close button on pinned tabs */
.tabbrowser-tab[pinned=true] > .tab-stack > .tab-content >.tab-close-button  {
  display: none !important;
}

/* Hide blue dot indicator on pinned tabs */
.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-image: none !important;
}

/* Remove tab throbber (loading indicator) */
.tab-throbber {
  display: none;
}

/* Remove the "is playing" text label of the tab */
.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture], [sharing]) {
  display: none !important;
}

.tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture], [sharing], :not([pinned])) {
  opacity: 1 !important;
  bottom: 0px !important;
  padding: 0px !important;
  fill-opacity: 1 !important;
  fill: #c0c0c0 !important;
  background-color: #353535;
}

/* New tab button [+] on tab overflow borders */
#new-tab-button {
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 1px;
  border-color: #353535 !important;
  background-color: #101010 !important;
  fill: #666 !important;
  padding: 0 !important;
}

/* New tab button [+] on tab overflow borders */
#new-tab-button:hover {
  background-color: #222 !important;
}

/* Scroll tab icon size */
#scrollbutton-up,
#scrollbutton-down {
  padding: 0 !important;
}

/* No background color when hovering scroll tab button */
#scrollbutton-up:hover,
#scrollbutton-down:hover {
  background-color: transparent !important;
}

#tabbrowser-arrowscrollbox {
  background-color: #101010 !important;
  margin-top: 1px !important;
}

/* Lighter scroll tab button on hover */
#tabbrowser-arrowscrollbox:hover {
  background-color: #222 !important;
}

/* Pinned tabs margin/border tweaks on tab overflow */
.tabbrowser-tab:-moz-any([pinned]) > .tab-stack > .tab-content {
  margin-left: -2px !important;
  border-left-width: 0px !important;
  border-top-width: 1px !important;
  width: 31px !important;
}

/* Pinned tabs height */
.tabbrowser-tab:-moz-any([pinned]) > stack {
  min-height: 0px !important;
  height: 24px !important;
}

/* Align favicon */
.tab-icon-stack[pinned]>image {
  margin-left: -3px !important;
}

/* Remove the all tab button */
#alltabs-button {
  display:none !important;
}

/* Private browsing icon */
.private-browsing-indicator {
  max-width: 15px;
  padding: 2px;
}

/*###########################################################################
#                               Pop Up URL                                  #
###########################################################################*/

/* Background color of the popup menu */
.urlbarView {
  margin-top: -8px !important;
  background-color: #080808C0 !important;
  backdrop-filter: blur(28px) !important;
  /* Firefox > 70 / Need layout.css.backdrop-filter.enabled set to true */
  width: 778px !important;
  margin-left: calc((100% - 779px) / 2) !important;
  border-radius: 0 0 8px 8px !important;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 80%) !important;
}

@media (max-width: 1500px) {
  .urlbarView {
    width: 680px !important;
    margin-left : calc((100% - 681px) / 2) !important;
  }
}

@media (max-width: 1250px) {
  .urlbarView {
    width: 100% !important;
    margin-left : 0px !important;
  }
}

/* Remove top border */
urlbarView-body-inner, .urlbarView-body-inner {
  border: none !important;
}

/* Popup menu size and position */
#urlbar-results {
  --item-padding-start: 0px !important;
  --item-padding-end: 0 !important;
  text-align: left;
}

/* Popup menu website/description text */
.urlbarView-row:not([type="search"]) .urlbarView-title {
  min-width: 90% !important;
  max-width: 90% !important;
  font-size: 11px;
  margin-right: 700px;
}

@media (max-width: 800px) {
  .urlbarView-row:not([type="search"]) .urlbarView-title {
    min-width: 87% !important;
    max-width: 87% !important;
  }
}

/* Popup menu url text */
.urlbarView-url {
  min-width: 34% !important;
  max-width: 34% !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  color: #888 !important;
}

@media (max-width: 1114px) {
  .urlbarView-url {
    min-width: 87% !important;
    max-width: 87% !important;
  }
}

/* Colored hovered or selected line */
.urlbarView-row-inner:hover,
.urlbarView-row:not([type="tip"],[type="dynamic"])[selected] >
.urlbarView-row-inner,
.urlbarView-row-inner[selected] {
  background-color: #222 !important;
}

/* Remove search with bar */
.search-one-offs,
.urlbarView-type-icon {
  display: none !important;
}

/*###########################################################################
#                          Bookmark toolbar tweaks                          #
###########################################################################*/

/* Bookmark toolbar size and color */
#PersonalToolbar {
  /* bookmarks toolbar padding */
	--bookmark-block-padding: 2px !important;
  background-color: #222 !important;
  font-weight: 300;
}

/* Centered toolbar items (bookmarks bar) */
#PlacesToolbarItems {
  -moz-box-pack: center;
  color: #c0c0c0;
}

/* Lighter bookmark items on hover */
.bookmark-item:hover, .bookmark-item[open=true] {
  background-color: #353535 !important;
}

/* Bookmark icons saturation */
.bookmark-item > .toolbarbutton-icon {
  filter: sepia(100%) saturate(0%);
}

/*###########################################################################
#                            Tool Bar extensions                            #
###########################################################################*/

/* Makes toolbar items (extensions icons etc) disapear */
:root:not([customizing]) #nav-bar toolbarbutton {
  opacity: 0 !important;
  transform: scale(.85, .85) !important;
  pointer-events: none !important;
  transition: all 1000ms var(--animation-easing-function) !important;
}

/* Makes toolbar items (extensions icons etc) reapear on hover */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
  transform: scale(1, 1) !important;
  opacity:1 !important;
  margin-left:0 !important;
  pointer-events: auto !important;
}
